
.how-it-works {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--clr-grey-2);
    background-color: var(--clr-white);
    text-align: center;
}
.how-it-works-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.how-it-works-item {
    padding: 0 2rem;
}

.how-it-works img {
    width: 150px;
    margin: auto;
    filter: invert(80%) sepia(57%) saturate(1691%) hue-rotate(330deg) brightness(103%) contrast(80%);
}

.how-it-works p {
    padding-bottom: 4rem;
}

@media screen and (max-width: 1080px) {

    .how-it-works-grid {
        grid-template-columns: 1fr;
        padding-left: 0;
        padding-right: 0;
    }
    
}